.sitewrapper{
  margin-inline: 3vw;
}
.sitewrapper header{
  background-color: rgb(79, 176, 206);
  height: 5vw;
  /* width: 100%; */
  display: flex;
}

.sitewrapper header h1{
  padding-left: .5vw;
  
}

.sitewrapper .navMainWrapper{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sitewrapper .navMainWrapper nav {
  margin-top: .6vw;
}

.sitewrapper .navMainWrapper nav ul{
  list-style: none;
  margin-left: -1vw;
}

.sitewrapper .navMainWrapper nav ul li{
  padding-bottom: 1vw;
  font-size: 1.5vw;
}

.sitewrapper .navMainWrapper nav ul li a{
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.sitewrapper .navMainWrapper nav ul li a:hover{
  color: rgb(90, 161, 90);
}

main article:nth-child(odd){
  color:rgb(90, 161, 90)
}

main article:nth-child(even){
  color:rgb(79, 176, 206)
}

main article p{
  color: rgb(27, 27, 27);
}

.sitewrapper footer{
  background-color: rgb(79, 176, 206);
  height: 5vw;
}

.sitewrapper footer nav ul{
  display: flex;
  list-style: none;
  padding-top: 2vw;
}

.sitewrapper footer nav ul li{
  padding-right: 2vw;
}

.sitewrapper footer nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  font-weight: 400;
}

.sitewrapper footer nav ul li a:hover{
  color: rgb(47, 44, 116);
  text-decoration: underline;
}
